.calc-container {
  width: 400px;
  margin: 3rem auto;
}

.button-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: #eee;
  align-items: center;
  justify-content: center;
}

.button,
.result {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  color: #333;
  padding: 1.5rem;
}

.button {
  cursor: pointer;
}

.span_5 {
  background-color: #888;
  -ms-grid-column: 1 / 5;
  grid-column: 1 / 5;
  text-align: right;
  padding: 1.5rem;
  color: #f1f1f1;
}

.button_3 {
  -ms-grid-column: 1 / 3;
  grid-column: 1 / 3;
}

.colored {
  background-color: rgb(245, 131, 1);
}
